.side-container {
  background-color:lightgrey;
  height: 400px;
  padding: 10px;
  text-align: center;
}

.result-container {
  height: 400px;
  padding: 10px;
  text-align: center;

}

.title {
  text-align: center;
  margin:100px 0;
  text-decoration: underline;
}

.full-width {
  width: 100%;
}

.main-container {
  font-family: 'Fjalla One', sans-serif;
}

h3 {
  text-decoration: underline;
}
